block variables
- var title = ''
- var name = 'Oleg Olinyk'
- var sotial = ['vk', 'git', 'in']
doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="OlegOlinyk" name="author")
        meta(content="My portfolio site" name="description")
        meta(content="OlegOlinyk" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        link(rel="shortcut icon" href="assets/img/fav_forest.png" type="image/png")
        //- favicon block end
        link(rel='stylesheet' href='assets/css/foundation.css')
        link(rel='stylesheet' href='assets/css/app.css')
        link(rel='stylesheet' href='https://cdnjs.com/libraries/normalize')
        script(src='/assets/js/foundation.js' defer)
        //script(src='/assets/js/app.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        block content
        script(src="assets/js/jquery-3.1.1.min.js")
        script(src="assets/js/noframework.waypoints.min.js")
        script(src='/assets/js/app.js' defer)
        script(src="assets/js/hamburger.js")
        //script(src="assets/js/scroll.js")
        script(src="assets/js/plate.js")
        script(src="assets/js/water.js")
        //script(src="assets/js/slider.js")
