//aBOUT_MIDDLE
.middle_about {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 850px;
  widht: 100%;
}

.middle_about-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #ebefe2;
  width: 49%;
  padding-top: 15px;
  @include ipad {
    width: 100%;
  }
}

.wrapp_middle_left-title {
  display: flex;
  flex-direction: column;
  max-width: 49%;
  margin: 0 auto 35px;
  z-index: 999;
}

.wrapp_middle_left-title {
  position: relative;
}

.middle_left-title {
  text-align: center;
  font-size: 62px;
  font-family: "SansusWebissimo";
  color: rgb(55, 62, 66);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 999;

}

.midle_title-line {
  margin: 0 auto;
  width: 90px;
  height: 3px;
  background-color: rgb(55, 62, 66);
}

.middle_hide-text {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 350px;
  transform: translateX(-50%);
  svg {
    g {
      path {
        fill: #e2ebd0;
      }
    }
  }
  @include iphone {
    width: 260px;
    top: 0%;
  }
}

.middle_left-photo {
  max-width: 450px;
  max-height: 400px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 40px;
}

.middle-photo {
  width: 100%;
}

.middle_left-paragraf {
  margin: 0 auto 45px;
  max-width: 444px;
}

.title_middle_paragraf {
  font-size: 35px;
  font-family: "SansusWebissimo";
  color: rgb(86, 99, 88);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.middle_paragraf {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(86, 99, 88);
  text-align: left;
  margin-bottom: 45px;
  @include ipad {
    padding: 0 20px;
  }
}

.middle_paragraf-right {
  margin-bottom: 0;
}

.midle_paragraf-line {
  margin: 0 auto;
  width: 90px;
  height: 3px;
  background-color: rgb(86, 99, 88);
  margin-bottom: 20px;

}

//right
.midle_aabout-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  width: 49%;
  background-color: #f4f5f0;
  padding: 15px 20px;
  @include ipad {
    width: 100%;
  }

}

.wrapp_middle_right-title {
  max-width: 350px;
  margin-bottom: 60px;
  @include ipad {
    max-width: 100%;
  }
}

.right_middle-title {
  margin: 0 auto;
  font-size: 35px;
  font-family: "SansusWebissimo";
  color: rgb(86, 99, 88);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  max-width: 360px;
}

.midle_paragraf-line-r {
  margin: 0 auto;
  width: 90px;
  height: 3px;
  background-color: rgb(86, 99, 88);
  margin-bottom: 40px;

}

.prof_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prof_block-skils {
  margin-bottom: 30px;
}

.prof_block-title_list {
  font-weight: bold;
  font-size: 28px;
  font-family: "Roboto";
  color: rgb(86, 99, 88);
  margin-bottom: 20px;
  @include ipad {
    text-align: center;
  }

}

.prof_list {
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &:last-child {
    margin-right: 0;
  }
  @include laptop {
    justify-content: flex-start;
  }
  @include iphone {
    margin-right: 28px;
  }
}

.prof_item {
  margin-right: 30px;
  margin-bottom: 30px;
  @include iphone {
    margin-right: 25px;
  }
}

.item_circle {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.g-circles {
  fill: none;
  stroke-width: 15;
}

.sector {
  transition: all 1s;
  stroke-dasharray: 160 722;
}

.html_level {
  stroke-dasharray: 300 722;
}

.css_level {
  stroke-dasharray: 280 722;
}

.js_level {
  stroke-dasharray: 100 722;
}

.php_level {
  stroke-dasharray: 50 722;
}

.mysql_level {
  stroke-dasharray: 50 722;
}

.node_level {
  stroke-dasharray: 100 722;
}
.mongo_level {
  stroke-dasharray: 100 722;
}
.git_level {
  stroke-dasharray: 160 722;
}
.gulp_level {
  stroke-dasharray: 160 722;
}

.bower_level {
  stroke-dasharray: 150 722;
}

.skils {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 75px;
  transform: translate(-50%, -50%);
  color: #4e8839;
  font-size: 14px;
}

//about_MAP

.about_map {
  display: flex;
  flex-direction: column;
  background-image: url("../img/background/water.jpg");
  min-height: 970px;
  width: 100%;
}

.map_contact-wrapp {
  flex-direction: column;
  min-width: 380px;
  overflow: hidden;
  padding: 40px 40px;
  margin: auto;
  max-height: 350px;
  background-color: rgba(228, 233, 222, .6);
  border-radius: 10px;
  @include iphone {
    margin: 0 auto;
    width: 100%;
  }
}

.contact_title {
  font-size: 35px;
  font-family: "SansusWebissimo";
  font-weight: bold;
  color: rgb(86, 99, 88);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.contact_item {
  transition: 0.3s;
  margin-bottom: 25px;
  &:hover {
    .contact_link {
      color: #74a163;
      text-decoration: underline;
    }
  }
}

.contact_link {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  color: rgba(69, 90, 100, 0.8);
  font-weight: bold;

}

.contact-img {
  margin-right: 10px;
}