.wrapper {
  min-width: 100%;
  //display: inline-flex;
  //flex-direction: column;
  //flex-wrap: wrap;

}

.header_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  padding: 35px 30px;
  background: transparent;
}

.top_section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.hide_text-wrapp {
  position: absolute;
  width: 500px;
  top: 102px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -500;
  svg {
    opacity: .4;
    fill: rgba(255, 255, 255, 0.06);
    @include iphone {
      width: 260px;
    }
  }
  @include iphone {
    width: 260px;
    right: -8%;
    top: 145px;
  }
}

.top_user-wrapp {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  max-width: 350px;
  max-height: 250px;
  z-index: 999;
}

.wrapp-photo {
  margin: auto;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 35px;
}

.user_photo {
  width: 100%;
}

.user_name {
  margin: auto;
  max-width: 250px;
  font-size: 28px;
  font-family: "Roboto";
  color: white;
  margin-bottom: 18px;
}

.user_proffesion {
  margin: auto;
  font-size: 16px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.8);

}

.bottom_figure_wrapp {
 display: flex;
  width: 100%;
  height: 100px;
}


.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
  height: 17px;
  width: 27px;
  &:hover {
    opacity: 1;
  }
}

.blog_hide-text-wrapp {
  position: absolute;
  right: -25%;
  top: 140px;
  transform: translate(0%);
  z-index: -500;
  svg {
    opacity: .4;
    fill: rgba(255, 255, 255, 0.06);
  }
}

