.middle_about
    .middle_about-left
        .wrapp_middle_left-title
            .middle_left-title Обо мне
            .midle_title-line
            .middle_hide-text
                include ../../../images/svg/about_header.svg

        .middle_left-photo
            img.middle-photo(src="assets/img/user/user-avatar.jpg")
        .middle_left-paragraf
            h2.title_middle_paragraf Кто я
            .midle_paragraf-line
            p.middle_paragraf.
                Я веб разработчик из Новосибирска.
                Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений.
                Мне нравится делать интересные и современные проекты.Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .midle_aabout-right
        .wrapp_middle_right-title
            h2.right_middle-title Чем я могу быть вам полезен
            .midle_paragraf-line-r
            p.middle_paragraf.middle_paragraf-right.
                Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .prof_block
            .frontend-block
                .prof_block-title_list Frontend
                ul.prof_list
                    li.prof_item.html
                        .item_circle
                    li.prof_item.css
                        .item_circle
                    li.prof_item.js
                        .item_circle
            .backend-block
                .prof_block-title_list Backend
                ul.prof_list
                    li.prof_item.php
                        .item_circle
                    li.prof_item.mysq
                        .item_circle
                    li.prof_item.node
                        .item_circle
                    li.prof_item.mongo
                        .item_circle
            .workflow-block
                .prof_block-title_list Workflow
                ul.prof_list
                    li.prof_item.git
                        .item_circle
                    li.prof_item.gulp
                        .item_circle
                    li.prof_item.bower
                        .item_circle