.about_map#map
    .map_contact-wrapp
        .contact_title Контакты
        .midle_paragraf-line
        ul.contact_list
            li.contact_item
                a.contact_link(href="#")
                    img.contact-img(src="assets/img/svg/skype.svg")
                    | O.D.Oleg
            li.contact_item
                a.contact_link(href="#")
                    img.contact-img(src="assets/img/svg/envelope2.svg")
                    | olegolinykuk@gmail.com
            li.contact_item
                a.contact_link(href="#")
                    img.contact-img(src="assets/img/svg/phone2.svg")
                    | +380979019887
            li.contact_item
                a.contact_link(href="#")
                    img.contact-img(src="assets/img/svg/map_marker.svg")
                    | Черновцы
    include ../../common/footter