extends ../_template
block variables
    - var title = 'About'
    - var name = 'Oleg Olinyk'
    - var sotial = ['vk', 'git', 'in']
block content
    .wrapper
        include about/about_header
        include about/about_middle.pug
        include about/about_map.pug



