extends ../_template

block variables
    - var title = 'Welcome'
    - var sotial = ['vk', 'git', 'in']

block content
    .wrapper-welcome
        header.welcom-header
            a.autorization-link(href="login.html")
                .autoriztion-button Авторизоваться
        .welcom-plate
            .welcom-inf-wrapp
                .welcom-avatar_wrap
                    img.welcom-avatar(src="assets/img/user/user-avatar.jpg")
                .welcom-sub_text
                    h1.welcom-name Olinyk Oleg
                    sapn.welcom-prof Личный сайт веб разработчика
                .sotials_wrapp
                    ul.sotials_list
                        each sotial  in ['vk', 'github', 'in']
                            li.sotials_item
                                a(class=`sotials_link welcom-sotials_link_${sotial}` href='#')
                                    span(class=`icon-${sotial}`)
                nav.welcom_nav
                    ul.welcom-nav_list
                        each item,index in ['Мои роботы', 'Обо мне', 'Блог']
                            li.welcom-nav-item
                                a.welcom-nav_link(href="about.html")
                                    .nav_link-button
                                        span.nav_link-button_text= item
            .wrapp_login
                .login-title_wrapp
                    h1.login-title_text Авторизируйтесь
                    .login-title_button-line
                form.login_form(id="login" method="post")
                    p.form-paragraf
                        .input-text-area_log
                        input(class="input-text-area" form="login" type="text" placeholder="Логин")
                    p.form-paragraf
                        .input-text-area_pass
                        input(class="input-text-area" form="login" type="password" placeholder="Пароль")
                    p.form-paragraf
                        input(class="check-yes" form="login" type="checkbox" value="" id="check-yes")
                        label(for="check-yes")
                        | Я человек
                    p.form-paragraf Вы точно не робот?
                    p.form-paragraf
                        input(class="radio-button radio-yes" form="login" type="radio" value="" id="rado-yes")
                        label(class="label-text" for="rado-yes")
                        | Да

                        input(class="radio-button radio-no" form="login" type="radio" value="" id="rado-no")
                        label(for="rado-no")
                        | Не уверен
                nav.login_nav
                    ul.login-nav_list
                        each item,index in ['На главную', 'Войти']
                            li.login-nav-item
                                a.login-nav_link(href="#")
                                    .nav_link-button
                                        span.nav_link-button_text= item


    footer.footer
        span.footer-text © Владимир Астахов | создано с любовью в LoftSchool | 2016