extends ../_template

block variables
    - var title = 'Welcome'
    - var sotial = ['vk', 'git', 'in']

block content
    .wrapper-welcome
        header.welcom-header
            a.autorization-link(href="login.html")
                .autoriztion-button Авторизоваться
        .welcom-plate
            .welcom-avatar_wrap
                img.welcom-avatar(src="assets/img/user/user-avatar.jpg")
            .welcom-sub_text
                h1.welcom-name Olinyk Oleg
                sapn.welcom-prof Личный сайт веб разработчика
            .sotials_wrapp
                ul.sotials_list
                    each sotial  in ['vk', 'github', 'in']
                        li.sotials_item
                            a(class=`sotials_link welcom-sotials_link_${sotial}` href='#')
            nav.welcom_nav
                ul.welcom-nav_list
                    each item,index in ['Мои роботы', 'Обо мне', 'Блог']
                        li.welcom-nav-item
                            a.welcom-nav_link(href="about.html")
                                .nav_link-button
                                    span.nav_link-button_text= item


    footer.footer
        span.footer-text © Владимир Астахов | создано с любовью в LoftSchool | 2016