.works_wrapp
    .works_title-wrapp
        .works_title Мои роботы
        .works_botton-line
        .works_hide-text
            include ../../../images/svg/works_header.svg
    .works_slider-section#works
        .slider-wrapp
            ul.slider_list
                li.slider_item.active
                    .portfolio_left
                        .poortfolio_picture
                            img.portfolio_img(src="../assets/img/portfolio/work-1.png")
                    .portfolio_right
                        .portfolio_right-align
                            .portfolio_title-wrapp
                                .portfolio_title Сайт школы онлайн образования
                                .portfolio_botton-line
                            .portfolio_stuff HTML, CSS, JAVASCRIPT
                            a.portfolio_button_link(href="#")
                                .portfolio_button
                                    img.portfolio_button-icon(src="assets/img/svg/link.svg")
                                    | Посмотреть сайт
                li.slider_item
                    .portfolio_left
                        .poortfolio_picture
                            img.portfolio_img(src="../assets/img/portfolio/portfolio.jpg")
                    .portfolio_right
                        .portfolio_right-align
                            .portfolio_title-wrapp
                                .portfolio_title Сайт портфолио
                                .portfolio_botton-line
                            .portfolio_stuff HTML, CSS, JQuery
                            a.portfolio_button_link(href="#")
                                .portfolio_button
                                    img.portfolio_button-icon(src="assets/img/svg/link.svg")
                                    | Посмотреть сайт
                li.slider_item
                    .portfolio_left
                        .poortfolio_picture
                            img.portfolio_img(src="../assets/img/portfolio/work-3.png")
                    .portfolio_right
                        .portfolio_right-align
                            .portfolio_title-wrapp
                                .portfolio_title Сайт школы онлайн образования
                                .portfolio_botton-line
                            .portfolio_stuff HTML, CSS, JAVASCRIPT
                            a.portfolio_button_link(href="#")
                                .portfolio_button
                                    img.portfolio_button-icon(src="assets/img/svg/link.svg")
                                    | Посмотреть сайт
                li.slider_item
                    .portfolio_left
                        .poortfolio_picture
                            img.portfolio_img(src="../assets/img/portfolio/Hipsweat.jpg")
                    .portfolio_right
                        .portfolio_right-align
                            .portfolio_title-wrapp
                                .portfolio_title Лендинг кондитерской
                                .portfolio_botton-line
                            .portfolio_stuff HTML, CSS, JQuery
                            a.portfolio_button_link(href="#")
                                .portfolio_button
                                    img.portfolio_button-icon(src="assets/img/svg/link.svg")
                                    | Посмотреть сайт
            ul.slider_dots

            a.slider_link-button.slider_link-button_left(href="#")
            a.slider_link-button.slider_link-button_right(href="#")